<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true"
      throwExceptions="true"
      autoReload="true">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Targets.AzureEventHubs"/>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <!-- write logs to Azure Event Hubs  -->
    <target xsi:type="AzureEventHub"
            name="eh"
            layout="${longdate} | ${uppercase:${level}} | ${aspnet-request-ip} | ${gdc:assembly_name} | ${gdc:assembly_version} | ${logger} | ${message}  ${exception:format=tostring} "
            EventHubsConnectionString="Endpoint=sb://dom-daniel-eh-ns.servicebus.windows.net/;SharedAccessKeyName=WebAppDataTravel;SharedAccessKey=a8sqOFoGt6+dvLF7PJPcmZJEuxc8H4KUeZLCBQjLsZA=;EntityPath=webappdatatravel-eh"
            EventHubPath="webappdatatravel-eh"/>

    <!-- write logs to file  -->
    <target xsi:type="File"
           name="ownFile-web"
           fileName="c:\NLog\WebApplication\nlog-own-${shortdate}.log"
           layout="${longdate} | ${uppercase:${level}} | ${aspnet-request-ip} | ${gdc:assembly_name} | ${gdc:assembly_version} | ${logger} | ${message}  ${exception:format=tostring} " />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="eh" />
    <logger name="*" minlevel="Trace" writeTo="ownFile-web" />
  </rules>
</nlog>